<%layout("/layouts/boilerplate")%>

<br><br>
<div class="row">
    <div class="col-8 offest-2">
     
            <h1>Edit info for "<%=listing.title%>"</h1>
            <form action="/listings/<%=listing._id%>?_method=PUT" novalidate enctype="multipart/form-data" class="needs-validation" method="Post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" value="<%=listing.title%>" required class="form-control" name="listing[title]">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Enter a valid title</div>
                </div>
               
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" id="description"  required cols="30" rows="10"><%=listing.description%></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter short description!</div>
                </div>

                <div class="mb-3">
                    <p>original listing image</p> <br>
                    <img src="<%=originalImageURL%>" alt="not available">
                </div>


                <div class="mb-3">
                    <label class="form-label" for="image">Upload New Image</label>
                    <input type="file" id="image" name="listing[image]" class="form-control">
                </div>



                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" value=" <%=listing.location%>" required class="form-control" name="listing[location]">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Give valid location</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" value="<%=listing.price%>" required class="form-control" name="listing[price]">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Give valid Price</div>
                    </div >
                   
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" value="<%=listing.country%>" required class="form-control" name="listing[country]">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Give valid country</div>
                    </div>
                </div>
               
                <button class="btn btn-dark add-btn">Update</button>
               
        
            </form>
    </div>
    
</div>
<br><br>




    

    
        
       
    
    


